<div class="cord">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad libero eius ducimus nam eligendi
            accusantium molestias iusto similique excepturi animi nobis quidem, laboriosam ratione nostrum optio
            fugiat. Eligendi, debitis!</p>
    </div>
</div>