<div class="jumbotron">
    <h1 class="display-4">Node App Nodejs and Mongodb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum corporis neque voluptatem nobis sed?
        Ipsam culpa sit ut consequatur iste maiores eius impedit excepturi optio quasi? Ipsam, laboriosam! Cumque,
        distinctio.</p>
        <hr class="my-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat amet officia vitae veniam doloremque? Asperiores voluptate quasi amet. Saepe ad officiis sed fugit exercitationem quos cupiditate labore provident excepturi eveniet.</p>
        <a href="#" class="btn btn-primary btn-lg">http://</a>
</div>